body{
	margin:0px;
	box-sizing: border-box;
	font-family:calibri;
	min-width:500px;
}

.header-top{
	background-color:#41807e;
	margin:auto;
	height:60px;
	justify-content: center;
}

.header-top .flex-parent{
	display: flex;
}

.flex-container{
	margin-left:10%;
	margin-right:10%;
	justify-content: center;
	height:inherit;
}

.flex-parent{
	height:inherit;
	margin:0px 15.5% 0px 15.5%;
	font-size:20px;
	letter-spacing:0.07em;
	line-height:40px;
	font-weight:bold;
	text-align:center;
}

.flex-child{
	padding:10px 5px 10px 5px;
	flex-grow:1;
	color:#e7f3f2;
	line-height:40px;
}

.flex-child:hover, .flex-child-right:hover, .flex-child-right:hover{
	background:#cb997e;
}

.flex-child-hidden{
	visibility: hidden;
	flex-grow:3;
}

.flex-child-right{
	padding:10px 5px 10px 5px;
	margin:0px;
	color:#e7f3f2;
	flex-grow:0.5;
}

.main-content{
	background-color:#a3d2ca;
	min-height:75vh;
	margin:0px;
}

.main-content-findings{
    background-color:#a3d2ca;
	min-height:80vh;
	padding:10px;
}

.main-content-left{
	display: inline-block;
	align-content: center;
	border:solid;
	width:50%;
	margin-top:10px;
	max-width:140vh;
	margin-left: 22%;
	margin-right:22%;
	background-color:#e7f3f2;
	box-sizing: border-box;
}
.main-content-finding-big{
	font-size:130%;
}
.main-content-finding-title{
	margin-bottom:0px;
}
.main-content-finding-text{
	height:30%;
	margin-top:0px;
	overflow:visible;
}
.main-content-finding-text-header{
	margin:4px;
}

.main-content-left img{
	height:170px;
	float:left;
}

.main-content-finding-big img{
	height:250px;
}

.main-content-form-wrapper{
	min-height:80vh;
	padding:10px;

}
.main-content-left-form{
	border:solid;
	margin-left:22vw;
	margin-right:22vw;

	width:auto;
	background-color:#e7f3f2;
	height:300px;
	box-sizing: border-box;
}

.main-content-left-form .add-finding-header{
    width:200px;
	margin:auto;
	padding:20px 0px 20px 0px;
	font-size:25px;
}

.main-content-left-form p{
    width:200px;
	margin:auto;
}

.main-content-left-form form{
	width:200px;
	margin:auto;
}

.main-content-left-form input{
	
}

.main-content-left-form button{
	
}


.main-content-right{
	background-color:#e7f3f2;
	float:right;
	border:solid;
	width:250px;
	height:1000px;
	margin-right: 10%;
	clear:both;
	box-sizing: border-box;
	overflow:hidden;
}

.main-content-center{
	background-color:#e7f3f2;
	float:center;
	border:solid;
	width:45%;
	margin:auto;
	overflow:auto;
}

.footer-main {
	background-color:#41807e;
	height:25vh;
}

.footer-content-left{
	float:left;
	padding:10px;
	margin-left:22%;
	width:25%;
	color:#e7f3f2;
}

.footer-content-right{
	float:right;
	padding:10px;
	margin-right:27%;
	width:20%;
	color:#e7f3f2;

}

.footer-content-left ul, .footer-content-right ul{
	list-style-type:none;
	color:white;
}

.footer-content-left ul li a{
	color:white;
}

a{
	text-decoration: none;
}
