{% extends "zakop_app/base.html" %}

{% block content %}
{% load static %}
{% load extra_filters %}

<div class='main-content-findings'>
  <div class="main-content-left main-content-finding-big">
      <div class="rating"></div>
      <a href="http://{{finding.permalink}}"><img src="{% static 'zakop_app/no_image_available.png' %}" alt="No image available"></a>
      <div class="main-content-left-text">
        <a href="{% url 'zakop_app:finding' finding.finding_id %}"><h3 class='main-content-finding-title'>{{ finding.title }}</h3></a>
         
        <p class="main-content-finding-text-header">
            <a href="#">
              @{{finding.user_id}}
            </a>
            <a href="finding.permalink">
              {{finding.permalink|function_short_url}}</a></p>
            <p class="main-content-finding-text"> {{ finding.description }}
            </p>

    </div>
</div>
{% endblock content %}