{% extends "zakop_app/base.html" %}

{% block content %}
  <div class="main-content-left">
    lllewa tresc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus et. Purus ut faucibus pulvinar elementum integer enim. Est lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit ut aliquam purus sit amet.
  </div>
  <div class="main-content-right">
    prawa tresc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus et. Purus ut faucibus pulvinar elementum integer enim. Est lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit ut aliquam purus sit amet.
  </div>
{% endblock content %}  