{% extends "zakop_app/base.html" %}

{% block content %}
{% load static %}

  <div class='main-content-findings'>
  {% for finding in findings %}
  
    <div class="main-content-left">
      <div class="rating"></div>
      <img src="{% static 'zakop_app/no_image_available.png' %}" alt="No image available">
      <div class="main-content-left-text">
        <a href="http://{{finding.permalink}}">{{ finding.title }}</a>
        <p> {{ finding.description }}</p></div>
    </div>
  {% empty %}
    <div class="main-content-left">
      <div class="rating"></div>
      <img src="{% static 'zakop_app/no_image_available.png' %}" alt="No image available">
      <div class="main-content-left-text">{{ finding.title }} {{ finding.description }}</div>
      <p>Nie ma znalezisk do wyświetlenia. Czemu by nie dodać jedno?</p>
    </div>
  
  {% endfor %}
  </div>
{% endblock content %}  